@import '../../globalCSS.scss';

#eventCardBox {
  border: $cardBorder;
}

#eventCardBox:hover {
  background-color: rgb(214, 238, 240);
}

.iframeBox {
  border: $boxborder;
  height: 100px;
  width: 60%;
  margin-left: 15%;
}