@import '../../globalCSS.scss';

#eventCardBox {
  border: $cardBorder;
}

#eventCardBox:hover {
  background-color: rgb(214, 238, 240);
}

.iframeBox {
  // border: $boxborder;
  height: 60px;
  width: 325px;
  margin-left: 15%;
}