@import '../../globalCSS.scss';

.navbarBox {
  // border: $boxborder;
  padding: 20px;
  background-color: lightblue;
  
  // margin-left: 40%;
}

#navbarBtn {
  margin-left: 40%;
  margin-right: 1px;

}