@import '../../globalCSS.scss';

// $boxborder: 1px solid red;
// $boxpborder: 1px solid blue;
// $mapboxborder: 1px solid blue; 
// $pfont: 10px;

.dashboardBox {
  border: $boxborder;
  margin: 10px;
}

.displayListBox{
  border: $boxborder;
}

#listsBox {
  border: $cardBorder;
  height: 150px;
  width: 150px;
  display: inline-table;
  
  .imgBox {
    height: 100px;
    width: 100px;
  }

}

#listsBox:hover {
  background-color: black;
}

.markerHover:hover {
  background-color: black;
  color: yellow;
  border: 5px solid red;
}

.mapBox {
  border: $mapboxborder;
  border: 5px solid black;
}

.fixGoogleMapPosition {
  position: fixed;
  border: 1px solid yellow;
  right: 50px;
  height: 40%;
  width: 40%;
}
