$boxborder: 1px solid red;
$boxpborder: 1px solid blue;



.listsBox {
  border: $boxborder;
  height: 250px;
  width: 250px;
  float: left;

  // p {
  //   border: $boxpborder;
  // }

  .imgBox {
    height: 100px;
    width: 100px;
  }
}