$imgheight: 250px;
$imgwidth: 250px;
$boxborder: 1px solid red;
$boxpborder: 1px solid blue;


.placeInfoBox {
  border: $boxpborder;
}

.imgBox1 {
  height: $imgheight;
  width: $imgwidth;
  margin-right: 30px;
  margin-top: 5px;
  margin-left: 30px;
}

