$boxborder: 1px solid red;
$boxpborder: 1px solid blue;
$mapboxborder: 1px solid blue;
$cardBorder: 1px solid lightblue;
$font_family: Arial, Helvetica, sans-serif;
$font_size: 10px;
$background_color: lightyellow;
$pfont: 10px;

